@{
    ViewBag.Title = "Forgot password";
}

<h2>Forgot password</h2>
<p class="noti-msg">@TempData["Notification"]</p>
@if(@TempData["isSuccess"] == "true"){
    <p class="noti-msg">Please check your mailbox or junkbox.If you did not receive e-mail please click resend button.</p>
    <form class="news-form" action="/Authenticate/ForgotPassword" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@TempData["email"]" name="email" />
        <input type="submit" value="Resend"/>
    </form>

}
else
{
    <form class="news-form" action="/Authenticate/ForgotPassword" method="post">
    @Html.AntiForgeryToken()
    <label>Please enter your email address of your account.</label><br />
    <input type="text" name="email" placeholder="E-mail" />
    <input type="submit" value="Submit"/>
    </form>
}