@{
    ViewBag.Title = "Login";

}
@model TestLibrary.ViewModels.LoginForm
<p class="noti-msg">@TempData["Notification"]</p>

    <form class="account-form" action="/Authenticate/Login" method="post">
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Login</legend>
            <input type="text" placeholder="Username" name="UserName" value="@Html.DisplayFor(model => model.UserName)"/>
            <input type="password" placeholder="Password" name="Password" /><br />
            <input type="Submit" value="Login" /><br />
            @Html.CheckBox("Remember")Remember me<br />
            <a href="#">Forgot password?</a>
        </fieldset>
    </form>
