@{
    ViewBag.Title = "Request";
}

<h2>Request book</h2>
<p class="noti-msg">@TempData["Notification"]</p>
<form class="news-form" action="/Book/Request" method="post">
    @Html.AntiForgeryToken()
    <input type="text" placeholder="BookID" name="BookID" /><br />
    <input type="hidden" name="UserID" value="9999" />
    <input type="submit" value="Submit" />
</form>