@{
    ViewBag.Title = "Change Log";
}

<h1>Change Log</h1>

<h2>Version 0.1</h2>
<p>Defined user interface</p>
<h2>Version 0.15</h2>
<p>Defined sample login system(Login/Change password with no encryption)</p>
