@{
    ViewBag.Title = "Change Log";
}

<h1>Change Log</h1>

<h2>Version 0.1</h2>
<p class="real-paragraph">Defined user interface</p>
<h2>Version 0.15</h2>
<p class="real-paragraph">Defined sample login system(Login/Change password with no encryption)</p>
<h2>Version 0.2</h2>
<p class="real-paragraph">Librarian viewer-deleter/Book database and viewer-editor</p>
<h2>Version 0.25</h2>
<p class="real-paragraph">Library news,search book</p>
<h2>Version 0.4</h2>
<p class="real-paragraph">Borrow book,Return book,Renew book,Request book(without cancellation).</p>
<h2>Version 1.0</h2>
<p class="real-paragraph">Functional requirement work properly with display resizeable.</p>
<h2>Version 1.1</h2>
<p class="real-paragraph">Reset password feature.</p>
<h2>Version 1.2</h2>
<p class="real-paragraph">Automated database update for expire requestlist.</p>
<h2>Version 1.5</h2>
<p class="real-paragraph">E-mail validation,paged-list</p>
<h2>Version 1.6</h2>
<p class="real-paragraph">Top-10 view list feature</p>
<h2>Version 2</h2>
<p class="real-paragraph">API for search book</p>