@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>
<h2>Developer</h2>
<p>Surawit Sangjan::<a href="http://www.facebook.com/dream.surawit">Facebook</a></p>
<p>Suratchanan Kraidech::<a href="http://www.facebook.com/suratchanan">Facebook</a></p>