@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>
<h2>Developer</h2>
<p class="real-paragraph">Surawit Sangjan::<a href="http://www.facebook.com/dream.surawit">Facebook</a></p>
<p class="real-paragraph">Suratchanan Kraidech::<a href="http://www.facebook.com/suratchanan">Facebook</a></p>