@{
    ViewBag.Title = "Home";
}

<h1>Welcome to online library book system</h1>
<p>ยินดีต้อนรับสู่ Web application อันน่าตื่นตาตื่นใจ คุณจะได้พบกับความสามารถของระบบห้องสมุดออนไลน์ที่สามารถช่วยจัดการปัญหาทุกอย่างที่เกิดขึ้นได้</p>
<h1>News</h1>

