@{
    ViewBag.Title = "Library Api";
    string code = "<script type=\"text/javascript\" src=\"http://paratabplus.cloudapp.net/Scripts/jquery-2.1.1.js\"></script>\n"+
        "<script type=\"text/javascript\" src=\"http://paratabplus.cloudapp.net/Scripts/ApiScript.js\"></script>";
    string code2 = "<input type=\"text\" placeholder=\"Search by name\" id=\"inputBookName\">\n" +
    "<button id=\"bttBookName\">Try it!</button><br />\n" +
    "<input type=\"text\" placeholder=\"Search by author\" id=\"inputAuthor\">\n" +
    "<button id=\"bttAuthor\">Try it!</button><br />\n" +
    "<input type=\"text\" placeholder=\"Search by publisher\" id=\"inputPublisher\">\n" +
    "<button id=\"bttPublisher\">Try it!</button><br />\n" +
    "<input type=\"text\" placeholder=\"Search by year\" id=\"inputYear\">\n" +
    "<button id=\"bttYear\">Try it!</button><br /><br />\n" +
    "<table id=\"showlist\" class=\"samplelist\">\n" +
    "</table>\n" +
    "<style>\n" +
        "table.samplelist {\n" +
            "border-collapse: collapse;\n" +
        "}\n" +
        "table.samplelist th{\n" +
            "padding:5px;\n" +
            "border:1px solid black;\n" +
        "}\n" +
        "table.samplelist td{\n" +
            "padding:5px;\n" +
            "border:1px solid black;\n" +
        "}\n" +
    "</style>\n" +
    "<script type=\"text/javascript\">\n" +
    "$(\"#bttBookName\").click(function () {\n" +
        "var listBookName = getBookByName($(\"#inputBookName\").val());\n" +
        "if (listBookName != null) {\n" +
            "var i = 0;\n" +
            "$(\"#showlist\").empty();\n" +
            "$(\"#showlist\").append('<tr><th>ID</th><th>Book name</th><th>Author</th>'+\n"+
                "'<th>Publisher</th><th>Year</th><th>Status</th></tr>');\n"+
                "while (listBookName[i] != null) {\n" +
                "$(\"#showlist\").append('<tr><td>' + listBookName[i].BookID + '</td>' +\n" +
                    "'<td>' + listBookName[i].BookName + '</td>'+\n" +
                    "'<td>' + listBookName[i].Author + '</td>'+\n" +
                    "'<td>' + listBookName[i].Publisher + '</td>' +\n"+
                    "'<td>' + listBookName[i].Year + '</td>'+\n"+
                    "'<td>' + getBookStatus(listBookName[i].BookStatus) + '</td></tr>');\n"+
                "i++;\n" +
            "}\n" +
        "}\n" +
        "else {\n" +
            "$(\"#showlist\").empty();\n" +
            "$(\"#showlist\").append(\"No book with name:\" + $(\"#inputBookName\").val());\n" +
        "}\n" +
    "});\n" +


    "$(\"#bttAuthor\").click(function () {\n" +
        "var listBookAuthor = getBookByAuthor($(\"#inputAuthor\").val());\n" +
        "if (listBookAuthor != null) {\n" +
            "var i = 0;\n" +
            "$(\"#showlist\").empty();\n" +
            "$(\"#showlist\").append('<tr><th>ID</th><th>Book name</th><th>Author</th>'+\n"+
                "'<th>Publisher</th><th>Year</th><th>Status</th></tr>');\n"+
                "while (listBookAuthor[i] != null) {\n" +
                "$(\"#showlist\").append('<tr><td>' + listBookAuthor[i].BookID + '</td>' +\n" +
                    "'<td>' + listBookAuthor[i].BookName + '</td>' +\n" +
                    "'<td>' + listBookAuthor[i].Author + '</td>' +\n" +
                    "'<td>' + listBookAuthor[i].Publisher + '</td>' +\n"+
                    "'<td>' + listBookAuthor[i].Year + '</td>' +\n"+
                    "'<td>' + getBookStatus(listBookAuthor[i].BookStatus) + '</td></tr>');\n"+
                "i++;\n" +
            "}\n" +
        "}\n" +
        "else {\n" +
            "$(\"#showlist\").empty();\n" +
            "$(\"#showlist\").append(\"No book with author:\" + $(\"#inputAuthor\").val());\n" +
        "}\n" +
    "});\n" +


    "$(\"#bttPublisher\").click(function () {\n" +
        "var listBookPublisher = getBookByPublisher($(\"#inputPublisher\").val());\n" +
        "if (listBookPublisher != null) {\n" +
            "var i = 0;\n" +
            "$(\"#showlist\").empty();\n" +
            "$(\"#showlist\").append('<tr><th>ID</th><th>Book name</th><th>Author</th>'+\n"+
                "'<th>Publisher</th><th>Year</th><th>Status</th></tr>');\n"+
            "while (listBookPublisher[i] != null) {\n" +
                "$(\"#showlist\").append('<tr><td>' + listBookPublisher[i].BookID + '</td>' +\n" +
                    "'<td>' + listBookPublisher[i].BookName + '</td>' +\n" +
                    "'<td>' + listBookPublisher[i].Author + '</td>' +\n" +
                    "'<td>' + listBookPublisher[i].Publisher + '</td>' +\n"+
                    "'<td>' + listBookPublisher[i].Year + '</td>' +\n"+
                    "'<td>' + getBookStatus(listBookPublisher[i].BookStatus) + '</td></tr>');\n"+
                "i++;\n" +
            "}\n" +
        "}\n" +
        "else {\n" +
            "$(\"#showlist\").empty();\n" +
            "$(\"#showlist\").append(\"No book with publisher:\" + $(\"#inputPublisher\").val());\n" +
        "}\n" +
    "});\n" +
    "$(\"#bttYear\").click(function () {\n" +
        "var listBookYear = getBookByYear($(\"#inputYear\").val());\n" +
        "if (listBookYear != null) {\n" +
            "var i = 0;\n" +
            "$(\"#showlist\").empty();\n" +
            "$(\"#showlist\").append('<tr><th>ID</th><th>Book name</th><th>Author</th>'+\n"+
                "'<th>Publisher</th><th>Year</th><th>Status</th></tr>');\n"+
            "while (listBookYear[i] != null) {\n" +
                "$(\"#showlist\").append('<tr><td>' + listBookYear[i].BookID + '</td>' +\n" +
                    "'<td>' + listBookYear[i].BookName + '</td>' +\n" +
                    "'<td>' + listBookYear[i].Author + '</td>' +\n" +
                    "'<td>' + listBookYear[i].Publisher + '</td>' +\n"+
                    "'<td>' + listBookYear[i].Year + '</td>' +\n"+
                    "'<td>' + getBookStatus(listBookYear[i].BookStatus) + '</td></tr>');\n"+
                "i++;\n" +
            "}\n" +
        "}\n" +
        "else {\n" +
            "$(\"#showlist\").empty();\n" +
            "$(\"#showlist\").append(\"No book with year:\" + $(\"#inputYear\").val());\n" +
        "}\n" +
    "});\n" +
    "</script>";

    string code3 = "<input type=\"text\" placeholder=\"Enter book name\" id=\"inputBookName2\"><br />\n"+
    "<input type=\"text\" placeholder=\"Enter author\" id=\"inputAuthor2\"><br />\n"+
    "<input type=\"text\" placeholder=\"Enter publisher\" id=\"inputPublisher2\"><br />\n"+
    "<input type=\"text\" placeholder=\"Enter year\" id=\"inputYear2\">\n"+
    "<button id=\"bttPostBook\">Try it!</button><br /><br />\n"+
    "<table id=\"showlist2\" class=\"samplelist\">\n"+
    "</table>\n"+
    "<style>\n"+
        "table.samplelist {\n"+
            "border-collapse: collapse;\n"+
            "}\n"+

            "table.samplelist th {\n"+
                "padding: 5px;\n"+
                "border: 1px solid black;\n"+
            "}\n"+

            "table.samplelist td {\n"+
                "padding: 5px;\n"+
                "border: 1px solid black;\n"+
            "}\n"+
    "</style>\n"+
    "<script type=\"text/javascript\">\n"+
        "$(\"#bttPostBook\").click(function () {\n"+
            "var wantedList = getBookByAllProperties($(\"#inputBookName2\").val(),$(\"#inputAuthor2\").val()\n"+
                ",$(\"#inputPublisher2\").val(), $(\"#inputYear2\").val());\n"+
            "if (wantedList != null) {\n"+
                "$(\"#showlist2\").empty();\n"+
                "var i = 0;\n"+
                "$(\"#showlist2\").append('<tr><th>ID</th><th>Book name</th><th>Author</th>' +\n"+
                    "'<th>Publisher</th><th>Year</th><th>Status</th></tr>');\n"+
                    "while (wantedList[i] != null) {\n"+
                    "$(\"#showlist2\").append('<tr><td>' + wantedList[i].BookID + '</td>' +\n"+
                        "'<td>' + wantedList[i].BookName + '</td>' +\n"+
                        "'<td>' + wantedList[i].Author + '</td>' +\n"+
                        "'<td>' + wantedList[i].Publisher + '</td>' +\n"+
                        "'<td>' + wantedList[i].Year + '</td>' +\n"+
                        "'<td>' + getBookStatus(wantedList[i].BookStatus) + '</td></tr>');\n"+
                    "i++;\n"+
                "}\n"+
            "}\n"+
            "else {\n"+
                "$(\"#showlist2\").empty();\n"+
                "$(\"#showlist2\").append(\"No book that associated with preferred keyword found.\");\n"+
            "}\n"+
        "});\n"+
    "</script>";

    string code4 = "<input type=\"text\" placeholder=\"Enter BookID\" id=\"inputBookid\"/>\n"+
    "<button id=\"bttViewBook\">Try it!</button>\n"+
    "<div id=\"bookDetail\">\n"+
    "</div>\n"+
    "<script type=\"text/javascript\">\n"+
        "$(\"#bttViewBook\").click(function () {\n"+
            "var bookToView = viewBookDetail($(\"#inputBookid\").val());\n"+
            "if (bookToView != null) {\n"+
                "$(\"#bookDetail\").empty();\n"+
                "$(\"#bookDetail\").append(\"<u><b>Book detail</b></u><br>\");\n"+
                "$(\"#bookDetail\").append(\"<b>Book ID:</b>\" + bookToView.BookID + \"<br>\");\n"+
                "$(\"#bookDetail\").append(\"<b>Book name:</b>\" + bookToView.BookName + \"<br>\");\n"+
                "$(\"#bookDetail\").append(\"<b>Book author:</b>\" + bookToView.Author + \"<br>\");\n"+
                "$(\"#bookDetail\").append(\"<b>Book publisher:</b>\" + bookToView.Publisher + \"<br>\");\n"+
                "$(\"#bookDetail\").append(\"<b>Book year:</b>\" + bookToView.Year + \"<br>\");\n"+
                "$(\"#bookDetail\").append(\"<b>Book status:</b>\" + getBookStatus(bookToView.BookStatus));"+
            "}\n"+
            "else {\n"+
                "$(\"#bookDetail\").empty();\n"+
                "$(\"#bookDetail\").append(\"No book that associcated with preferred book id.\");\n"+
            "}\n"+
        "});\n"+
    "</script>\n";
}

<h1>LibraryApi</h1>
<h2>First of all</h2>
<p class="real-paragraph"> Copy this script tag to your html page and then you can 
    you these function to display book values.</p>
<div class="show-code" style="white-space:pre-line">@code
</div>
<h2>Structure of book JSON object</h2>
<p class="real-paragraph">
    Single Book object in JSON format.
</p>
<div class="show-code">
    {"BookID":3,<br />
    "BookName":"Computer Science Illuminated",<br />
    "Author":"Thomas H. Cormen",<br />
    "Detail":"Some detail",<br />
    "Year":2012,<br />
    "Publisher":"Paratab company",<br />
    "BookStatus":0}
</div>
<p class="real-paragraph">
    Array of Book object in JSON format.
</p>
<div class="show-code">
    [{"BookID":3,"BookName":"Computer Science Illuminated","Author":"Thomas H. Cormen","Detail":null,"Year":null,"Publisher":null,"BookStatus":0},<br />
    {"BookID":4,"BookName":"you love me","Author":"Taweechai","Detail":null,"Year":null,"Publisher":null,"BookStatus":0},<br />
    {"BookID":5,"BookName":"love love","Author":"sawan","Detail":null,"Year":null,"Publisher":null,"BookStatus":0},<br />
    {"BookID":6,"BookName":"Fundamental of Thailaws","Author":"Prasitsak Sirijarupat","Detail":null,"Year":null,"Publisher":null,"BookStatus":0},<br />
    {"BookID":7,"BookName":"Calculus:Single Variable","Author":"Deborah Hughes-Hallett","Detail":null,"Year":null,"Publisher":null,"BookStatus":0}]
</div>
<h2>Properties of Book object</h2>
<div class="show-obj-detail">
    <b>BookID:</b>Display book's ID.<br />
    <b>BookName:</b>Display book name.<br />
    <b>Author:</b>Display book's author.Default will be null If it is not defined.<br />
    <b>Publisher:</b>Display book's publisher.Default will be null If it is not defined.<br />
    <b>Year:</b>Display book's year which this book is produced.Default will be null If it is not defined.<br />
    <b>Detail:</b>Display book's detail.Default will be null If it is not defined.<br />
    <b>BookStatus:</b>Display book's status.There is 4 type of statuses(0 = Available,1 = Borrowed,2 = Reserved,3 = Lost).
</div>
<h2>Preferred functions</h2>
    <div class="show-code-detail">
        <b>function</b> getAllBook()<br />
        Parameter:None.<br />
        return value:Array of book object.<br />
        Description:This function use to retrieve all book data in our library have.<br />
        <b>Example:</b><br />
        <div class="show-code-example">
            var list = getAllBook(); //Retrieve all book.<br />
            var i = 0; //Initalized interator index.<br />
            while(list[i] != null) //Check whether item in list which index i is null.<br />
            document.getElementById("test").innerHTML = list[i].Author; //Display book's author of list[i] where i is iterator index in element with id "test".<br />
        </div>
    </div>

    <div class="show-code-detail">
        <b>function</b> getBookByName(name)<br />
        Parameter:name as string.<br />
        return value:Array of book object.<br />
        Description:This function use to find associated book by name.<br />
        <b>Example:</b><br />
        <div class="show-code-example">
            var list = getBookByName("Caculus"); //Retrieve all book that contain name "Calculus".<br />
            var i = 0; //Initalized interator index.<br />
            while(list[i] != null) //Check whether item in list which index i is null.<br />
            document.getElementById("test").innerHTML = list[i].BookName; //Display book's name of list[i] where i is iterator index in element with id "test".<br />
        </div>
    </div>

    <div class="show-code-detail">
        <b>function</b> getBookByAuthor(author)<br />
        Parameter:author as string.<br />
        return value:Array of book object.<br />
        Description:This function use to find associated book by author.<br />
        <b>Example:</b><br />
        <div class="show-code-example">
            var list = getBookByAuthor("Dyson"); //Retrieve all book that contain author "Dyson".<br />
            var i = 0; //Initalized interator index.<br />
            while(list[i] != null) //Check whether item in list which index i is null.<br />
            document.getElementById("test").innerHTML = list[i].BookName; //Display book's name of list[i] where i is iterator index in element with id "test".<br />
        </div>
    </div>

    <div class="show-code-detail">
        <b>function</b> getBookByPublisher(publisher)<br />
        Parameter:publisher as string.<br />
        return value:Array of book object.<br />
        Description:This function use to find associated book by publisher.<br />
        <b>Example:</b><br />
        <div class="show-code-example">
            var list = getBookByAuthor("Maxy company"); //Retrieve all book that contain publisher "Maxy company".<br />
            var i = 0; //Initalized interator index.<br />
            while(list[i] != null) //Check whether item in list which index i is null.<br />
            document.getElementById("test").innerHTML = list[i].BookName; //Display book's name of list[i] where i is iterator index in element with id "test".<br />
        </div>
    </div>

    <div class="show-code-detail">
        <b>function</b> getBookByYear(year)<br />
        Parameter:year as numeric string.<br />
        return value:Array of book object.<br />
        Description:This function use to find associated book by year.<br />
        <b>Example:</b><br />
        <div class="show-code-example">
            var list = getBookByYear("2012"); //Retrieve all book that produced in 2012.<br />
            var i = 0; //Initalized interator index.<br />
            while(list[i] != null) //Check whether item in list which index i is null.<br />
            document.getElementById("test").innerHTML = list[i].BookName; //Display book's name of list[i] where i is iterator index in element with id "test".<br />
        </div>
    </div>

    <div class="show-code-detail">
        <b>function</b> viewBookDetail(id)<br />
        Parameter:id as string.<br />
        return value:A single Book Object or null if prefer id is not found.<br />
        Description:This function use to view detail of book which specified id.<br />
        <b>Example:</b><br />
        <div class="show-code-example">
            var data = viewBookDetail(170); //Retrieve a book which book id is 170.<br />
            document.getElementById("test").innerHTML = data.BookName; //Display book's name in element with id "test".<br />
            document.getElementById("test1").innerHTML = data.Author;  //Display book's author in element with id "test1".
        </div>
    </div>

    <div class="show-code-detail">
        <b>function</b> getBookByAllProperties(name,author,publisher,year)<br />
        Parameter:name,author,publisher as string.year as numeric string.<br />
        return value:Array of book object.<br />
        Description:This function use to find book which specified all properties.<br />
        <b>Example:</b><br />
        <div class="show-code-example">
            var list = getBookByAllProperties("Caculus","Emma","Rysis,"2014"); //Retrieve related book which book name is Caculus,book's author is Emma,book's publisher is Rysis and produced in 2014.<br />
            var i = 0; //Initalized interator index.<br />
            while(list[i] != null) //Check whether item in list which index i is null.<br />
            document.getElementById("test").innerHTML = list[i].BookName; //Display book's name of list[i] where i is iterator index in element with id "test".<br />
        </div>
    </div>

    <div class="show-code-detail">
        <b>function</b> getBookStatus(value)<br />
        Parameter:value as integer.<br />
        return value:Book status as string or null if value is not exists(status value range is 0 to 3).<br />
        Description:This function use to convert book status integer to status string.<br />
        <b>Example:</b><br />
        <div class="show-code-example">
            var a = getBookStatus(0); // a = "Available" <br />
            var b = getBookStatus(1); // b = "Borrowed" <br />
            var c = getBookStatus(2); // c = "Reserved" <br />
            var d = getBookStatus(3); // d = "Lost" <br />
            var e = getBookStatus(323232); // invalid value -> e = null <br />
        </div>
    </div>
<h2>Jump start:Example 1</h2>
<p class="real-paragraph">Learn to use by example and you can copy code to adapt it in your website!</p>
<div class="show-code">
    <input type="text" placeholder="Search by name" id="inputBookName">
    <button id="bttBookName">Try it!</button><br />
    <input type="text" placeholder="Search by author" id="inputAuthor">
    <button id="bttAuthor">Try it!</button><br />
    <input type="text" placeholder="Search by publisher" id="inputPublisher">
    <button id="bttPublisher">Try it!</button><br />
    <input type="text" placeholder="Search by year" id="inputYear">
    <button id="bttYear">Try it!</button><br /><br />
    <table id="showlist" class="samplelist">
    </table>
    <style>
        table.samplelist {
            border-collapse: collapse;
        }
        table.samplelist th{
            padding:5px;
            border:1px solid black;
        }
        table.samplelist td{
            padding:5px;
            border:1px solid black;
        }
    </style>
    <script type="text/javascript">
    $("#bttBookName").click(function () {
        var listBookName = getBookByName($("#inputBookName").val());
        if (listBookName != null) {
            var i = 0;
            $("#showlist").empty();
            $("#showlist").append('<tr><th>ID</th><th>Book name</th><th>Author</th>'+
                '<th>Publisher</th><th>Year</th><th>Status</th></tr>');
            while (listBookName[i] != null) {
                $("#showlist").append('<tr><td>' + listBookName[i].BookID + '</td>' +
                    '<td>' + listBookName[i].BookName + '</td>'+
                    '<td>' + listBookName[i].Author + '</td>' +
                    '<td>' + listBookName[i].Publisher + '</td>' +
                    '<td>' + listBookName[i].Year + '</td>'+
                    '<td>' + getBookStatus(listBookName[i].BookStatus) + '</td></tr>');
                i++;
            }
        }
        else {
            $("#showlist").empty();
            $("#showlist").append("No book with name:" + $("#inputBookName").val());
        }
    });


    $("#bttAuthor").click(function () {
        var listBookAuthor = getBookByAuthor($("#inputAuthor").val());
        if (listBookAuthor != null) {
            var i = 0;
            $("#showlist").empty();
            $("#showlist").append('<tr><th>ID</th><th>Book name</th><th>Author</th>'+
                '<th>Publisher</th><th>Year</th><th>Status</th></tr>');
            while (listBookAuthor[i] != null) {
                $("#showlist").append('<tr><td>' + listBookAuthor[i].BookID + '</td>' +
                    '<td>' + listBookAuthor[i].BookName + '</td>' +
                    '<td>' + listBookAuthor[i].Author + '</td>' +
                    '<td>' + listBookAuthor[i].Publisher + '</td>' +
                    '<td>' + listBookAuthor[i].Year + '</td>' +
                    '<td>' + getBookStatus(listBookAuthor[i].BookStatus) + '</td></tr>');
                i++;
            }
        }
        else {
            $("#showlist").empty();
            $("#showlist").append("No book with author:" + $("#inputAuthor").val());
        }
    });


    $("#bttPublisher").click(function () {
        var listBookPublisher = getBookByPublisher($("#inputPublisher").val());
        if (listBookPublisher != null) {
            var i = 0;
            $("#showlist").empty();
            $("#showlist").append('<tr><th>ID</th><th>Book name</th><th>Author</th>'+
                         '<th>Publisher</th><th>Year</th><th>Status</th></tr>');
            while (listBookPublisher[i] != null) {
                $("#showlist").append('<tr><td>' + listBookPublisher[i].BookID + '</td>' +
                    '<td>' + listBookPublisher[i].BookName + '</td>' +
                    '<td>' + listBookPublisher[i].Author + '</td>' +
                    '<td>' + listBookPublisher[i].Publisher + '</td>' +
                    '<td>' + listBookPublisher[i].Year + '</td>' +
                    '<td>' + getBookStatus(listBookPublisher[i].BookStatus) + '</td></tr>');
                i++;
            }
        }
        else {
            $("#showlist").empty();
            $("#showlist").append("No book with publisher:" + $("#inputPublisher").val());
        }
    });

    $("#bttYear").click(function () {
        var listBookYear = getBookByYear($("#inputYear").val());
        if (listBookYear != null) {
            var i = 0;
            $("#showlist").empty();
            $("#showlist").append('<tr><th>ID</th><th>Book name</th><th>Author</th>'+
                              '<th>Publisher</th><th>Year</th><th>Status</th></tr>');
            while (listBookYear[i] != null) {
                $("#showlist").append('<tr><td>' + listBookYear[i].BookID + '</td>' +
                    '<td>' + listBookYear[i].BookName + '</td>' +
                    '<td>' + listBookYear[i].Author + '</td>' +
                    '<td>' + listBookYear[i].Publisher + '</td>' +
                    '<td>' + listBookYear[i].Year + '</td>' +
                    '<td>' + getBookStatus(listBookYear[i].BookStatus) + '</td></tr>');
                i++;
            }
        }
        else {
            $("#showlist").empty();
            $("#showlist").append("No book with year:" + $("#inputYear").val());
        }
    });
    </script>
</div>
<h2>Code for example 1</h2>
    <div class="show-code" style="white-space:pre-line">
        <button class="show-code">Show code</button>
        <span class="show-code">@code2</span>
    </div>

<h2>Example 2</h2>
<div class="show-code">
    <input type="text" placeholder="Enter book name" id="inputBookName2"><br />
    <input type="text" placeholder="Enter author" id="inputAuthor2"><br />
    <input type="text" placeholder="Enter publisher" id="inputPublisher2"><br />
    <input type="text" placeholder="Enter year" id="inputYear2">
    <button id="bttPostBook">Try it!</button><br /><br />
    <table id="showlist2" class="samplelist">
    </table>
    <style>
        table.samplelist {
            border-collapse: collapse;
        }

            table.samplelist th {
                padding: 5px;
                border: 1px solid black;
            }

            table.samplelist td {
                padding: 5px;
                border: 1px solid black;
            }
    </style>
    <script type="text/javascript">
        $("#bttPostBook").click(function () {
            var wantedList = getBookByAllProperties($("#inputBookName2").val(),$("#inputAuthor2").val()
                ,$("#inputPublisher2").val(), $("#inputYear2").val());
            if (wantedList != null) {
                $("#showlist2").empty();
                var i = 0;
                $("#showlist2").append('<tr><th>ID</th><th>Book name</th><th>Author</th>' +
                    '<th>Publisher</th><th>Year</th><th>Status</th></tr>');
                while (wantedList[i] != null) {
                    $("#showlist2").append('<tr><td>' + wantedList[i].BookID + '</td>' +
                        '<td>' + wantedList[i].BookName + '</td>' +
                        '<td>' + wantedList[i].Author + '</td>' +
                        '<td>' + wantedList[i].Publisher + '</td>' +
                        '<td>' + wantedList[i].Year + '</td>' +
                        '<td>' + getBookStatus(wantedList[i].BookStatus) + '</td></tr>');
                    i++;
                }
            }
            else {
                $("#showlist2").empty();
                $("#showlist2").append("No book that associated with preferred keyword found.");
            }
        });
    </script>
</div>
<h2>Code for example 2</h2>
<div class="show-code" style="white-space:pre-line">
    <button class="show-code">Show code</button>
    <span class="show-code">@code3</span>
</div>
<h2>Example 3</h2>
<div class="show-code">
    <input type="text" placeholder="Enter BookID" id="inputBookid"/>
    <button id="bttViewBook">Try it!</button>
    <div id="bookDetail">
    </div>

    <script type="text/javascript">
        $("#bttViewBook").click(function () {
            var bookToView = viewBookDetail($("#inputBookid").val());
            if (bookToView != null) {
                $("#bookDetail").empty();
                $("#bookDetail").append("<u><b>Book detail</b></u><br>");
                $("#bookDetail").append("<b>Book ID:</b>" + bookToView.BookID + "<br>");
                $("#bookDetail").append("<b>Book name:</b>" + bookToView.BookName + "<br>");
                $("#bookDetail").append("<b>Book author:</b>" + bookToView.Author + "<br>");
                $("#bookDetail").append("<b>Book publisher:</b>" + bookToView.Publisher + "<br>");
                $("#bookDetail").append("<b>Book year:</b>" + bookToView.Year + "<br>");
                $("#bookDetail").append("<b>Book status:</b>" + getBookStatus(bookToView.BookStatus));
            }
            else {
                $("#bookDetail").empty();
                $("#bookDetail").append("No book that associcated with preferred book id.");
            }
            
        });
    </script>
</div>

<h2>Code for example 3</h2>
<div class="show-code" style="white-space:pre-line">
    <button class="show-code">Show code</button>
    <span class="show-code">@code4</span>
</div>

<h2>URI for custom functional(Advanced)</h2>
<table class="api-adv">
    <tr>
        <th>
            URI
        </th>
        <th>
            Method
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>
            api/bookquery
        </td>
        <td>
            GET
        </td>
        <td>
            Retrieve all book like getAllBook()
        </td>
    </tr>

    <tr>
        <td>
            api/bookquery/id
        </td>
        <td>
            GET
        </td>
        <td>
            Retrieve a single book like viewBookDetail(id)
        </td>
    </tr>

    <tr>
        <td>
            api/bookquery?name={param}
        </td>
        <td>
            GET
        </td>
        <td>
            Retrieve related book by book name (where {param} is book name that you want to search) like getBookByName(name).
        </td>
    </tr>

    <tr>
        <td>
            api/bookquery?author={param}
        </td>
        <td>
            GET
        </td>
        <td>
            Retrieve related book by author (where {param} is author that you want to search) like getBookByAuthor(author).
        </td>
    </tr>

    <tr>
        <td>
            api/bookquery?publisher={param}
        </td>
        <td>
            GET
        </td>
        <td>
            Retrieve related book by publisher (where {param} is publisher that you want to search) like getBookByPublisher(publisher).
        </td>
    </tr>

    <tr>
        <td>
            api/bookquery?year={param}
        </td>
        <td>
            GET
        </td>
        <td>
            Retrieve related book by year that producted book (where {param} is year that you want to search) like getBookByYear(year).
        </td>
    </tr>



</table>
    @System.Web.Optimization.Scripts.Render("~/ApiBundles")
