@{
    ViewBag.Title = "Library Api";
}

<h2>LibraryApi</h2>
<table class="list">
    <tr>
        <th>ID</th>
        <th>BookName</th>
        <th>Author</th>
        <th></th>
    </tr>
</table>
<div class="detail" style="font-family:Single;font-size:x-large">
</div>
<div class="news-area">
    <label><b>Name</b></label>
    <input type="text" name="bookname"/>
    <input type="button" value="Search by name" onclick="findBookByName()"/><br />
    <label><b>Author</b></label>
    <input type="text" name="author" /><br />
    <label><b>Publisher</b></label>
    <input type="text" name="publisher" /><br />
    <label><b>Year</b></label>
    <input type="text" name="year" />
    <input type="button" value="Search" onclick="findBook()" /><br />
</div>
<p class="noti-msg"/>
@System.Web.Optimization.Scripts.Render("~/ApiBundles")