@{
    ViewBag.Title = "Login";

}
<p class="noti-msg">@TempData["Notification"]</p>
<form class="account-form" action="/Home/Login" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Login</legend>
        <input type="text" placeholder="Username" name="UserName" />
        <input type="password" placeholder="Password" name="password" /><br />
        <input type="Submit" value="Login" /><br />
        @Html.CheckBox("remember")Remember me
    </fieldset>
</form>