@{
    ViewBag.Title = "AddBook";
}

<h2>AddBook</h2>
<form class="account-form" action="/BookManager/AddBook" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Add new book</legend>
        <input type="text" placeholder="Book name" name="BookName"/><br />
        <input type="text" placeholder="Author" name="Author" /><br />
        <input type="text" placeholder="Publisher" name="Publisher" /><br />
        <input type="text" placeholder="Year" name="Year" /><br />
        <textarea placeholder="Detail" name="Detail"></textarea><br />
        <input type="submit" value="Add book" />
       </fieldset>
</form>