@{
    ViewBag.Title = "News detail";
}
@model ParatabLib.Models.News
<h1>@Html.DisplayFor(model => model.Title)</h1>
@if (Session["LoginUser"] != null)
{
    if (Session["LoginUser"].ToString().Substring(0, 2) == "A_")
    {<span class="act-link">
        <a class="norm" href="/NewsManager/EditNews/@Model.NewsID">แก้ไข</a> |
        <a class="norm" href="/NewsManager/DeleteNews/@Model.NewsID">ลบ</a>
    </span>
    }
}

<div class="news-area">
    @Html.Raw(@Model.Detail)
    <p class="post-time"><b>ประกาศเมื่อ:</b>@Model.PostTime</p>
</div>

