@{
    ViewBag.Title = "Admin portal";
}

<h2>Admin portal</h2>
<a class="account-btt" href="/AdminTransaction/">Adm transaction</a>
<a class="account-btt" href="/BookManager/">Manage book</a>
<a class="account-btt" href="/NewsManager/">Manage news</a>
<a class="account-btt" href="/AdminListManager/">Manage admin</a>
<a class="account-btt" href="/MemberListManager/">Manage member</a>
<a class="account-btt" href="/Account/">Back</a>
