@{
    
    ViewBag.Title = "ChangePassword";
}
@model TestLibrary.Models.Admin

<form class="account-form" action="/Account/ChangePassword" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Change Password</legend>
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.UserName)
        <input type="password" name="oldpass" placeholder="Old password" /><br />
        <input type="password" name="password" placeholder="New password" /><br />
        <input type="password" name="confirm" placeholder="Comfirm password" /><br />
        <input type="submit" value="Change Password" />
    </fieldset>
</form>
