@{
    
    ViewBag.Title = "Change password";
}
<p class="noti-msg">@TempData["Notification"]</p>

<form class="account-form" action="/Account/ChangePassword" method="post">
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Change Password</legend>
        <input type="password" name="oldPassword" placeholder="Old password" /><br />
        <input type="password" name="newPassword" placeholder="New password" /><br />
        <input type="password" name="confirmPassword" placeholder="Comfirm password" /><br />
        <input type="submit" value="Change Password" />
    </fieldset>
</form>
