

@{
    ViewBag.Title = Session["LoginUser"];
}

<h1>Welcome! @Session["LoginUser"]</h1>
<h2>Admin panel</h2>
<p>Add book</p>
<p>Edit book</p>
<p>Delete book</p>
<p>Check reserve request</p>
<a class="account-btt" href="/Account/Detail">View Detail</a>
<a class="account-btt" href="/Account/AddAdmin">Add admin</a>
<a class="account-btt" href="/Account/ChangePassword">Change password</a>
<a class="account-btt" href="~/Account/Logout">Sign out</a>
