@{
    ViewBag.Title = "Login";

}

<form class="account-form" action="/Account/Login" method="post">
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Login</legend>
        <input type="text" placeholder="Username" name="UserName" />
        <input type="password" placeholder="Password" name="password" /><br />
        <input type="Submit" value="Login" /><br />
        @Html.CheckBox("remember")Remember me
    </fieldset>
</form>