@{
Layout = null;
}
<html>
<head>
    <title>title</title>
    <script type="text/javascript">
        function closefunc() {
            window.open("sth","_self");
            window.close();
        }
    </script>
</head>
<body onload="closefunc()">
    
</body>
</html>


