@{
    ViewBag.Title = "Request book";
}

<h2>Request book</h2>
@if (TempData["ErrorNoti"] != null)
{
    <div class="noti-red">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["ErrorNoti"]
    </div>
}
<form class="news-form" action="/MemberTransaction/Request" method="post">
    @Html.AntiForgeryToken()
    <input type="text" placeholder="BookID" name="BookID" /><br />
    <input type="hidden" name="UserID" value="9999" />
    <input type="submit" value="Submit" />
</form>
<a class="account-btt" href="/MemberTransaction/">Back</a>