
body{
    margin:0;
    padding:0;
    background-image:url(/Content/asphalt.jpg);

}

div#nav{
    position:fixed;
    font-family:Calibri;
    background-color:black;
    height:70px;
    top:0;
    width:100%
}
div.reg-login-linkzone{
    color:white;
    font-size:14px;
    margin-left:15%;
    margin-right:15%;
    float:right;
    text-align:right;
}

div.reg-login-linkzone a:link{
    color:white;
    text-decoration:none;
}

div.reg-login-linkzone a:hover{
    text-decoration:underline;
}

div.reg-login-linkzone a:visited{
    color:white;
}

div#quicksearch{
    color:white;
    margin-left:15%;
    margin-right:15%;
    margin-top:5px;
    margin-bottom:0px;
    position:fixed;
    right:0
}

form.search-bar input{
    font-family:Calibri;  
}

form.search-bar input[type="text"]{
    width:140px  
}
div#header{
    margin-top:4px;
    margin-left:15%;
    margin-right:15%;
    font-size:x-large;
    color:white;
}
/*---account form---*/
form.account-form{
    font-family:Single;
    font-size:xx-large;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
    max-width:260px
}
form.account-form fieldset{
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    
}

form.account-form input[type="text"],
form.account-form input[type="password"]{
    font-family:Single;
    font-size:x-large;
    width:100%;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
}
form.account-form select{
    font-family:Single;
    font-size:x-large;
    display:inline-block;
}
form.account-form input[type="submit"]{
    font-family:Single;
    font-size:x-large;
    background-color:#99CCFF;
    border:none;
    width:100%
}

form.account-form textarea{
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family:Single;
    font-size:x-large;
    width:100%
}
/*--------------------------*/
/*---booksearch form--------*/
form.book-search{
    font-family:Single;
    font-size:xx-large;
    margin:15px 0px 15px 0px;
    width:300px;
}
form.book-search input,form.book-search select,form.book-search label{
    display:table-cell;
    font-size:x-large;
    font-family:Single;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%
}
form.book-search input[type="submit"]{
    font-size:x-large;
    border:none;
    background-color:#FFFF00
}
/*--------------------------*/
form.news-form{
    font-family:Single;
    font-size:x-large;
    margin:15px 0 15px 0;
}
form.news-form label{
    font-weight:900
}
/*--------------------------*/
table.news-list{
    font-family:Single;
    font-size:x-large;
    margin:15px 0 15px 0;
    padding:5px;
    border:1px solid #808080;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

table.news-list tr:hover{
    background-color:#FFFF75;
}

/*--------------------------*/
div.news-area{
    margin:15px 0 15px 0;
    padding:10px;
    font-family:Single;
    font-size:x-large;
    border:1px solid #808080;
}
/*--------------------------*/
a.account-btt{
    clear:both;
    display:block;
    text-align:center;
    font-family:Single;
    font-size:x-large;
    background-color:#99CCFF;
    margin-bottom:15px;
    padding-top:3px;
    padding-bottom:3px;
    width:120px
}

a.account-btt:link{
    color:black;
    text-decoration:none;
}

a.account-btt:hover{
    background-color:#6B8FB2
}


a.account-btt:visited{
    color:black;
    text-decoration:none;
}

div.account-detail{
    font-family:Single;
    font-size:x-large;
    border:1px solid #808080;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    margin-bottom:10px;
    padding:10px;

}

div#menubar{
    margin-top:10px;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:0;
    font-size:large;
    color:white;
    
}

ul.menulist{
    margin:0;
    padding:0;
    list-style-type:none;
}

ul.menulist li a:link{
    padding-bottom:3px;
    text-decoration:none;
    text-align:center;
    display:block;
    width:70px;
    float:left;
    color:white;

}
ul.menulist li a:hover{
    color:black;
    background-color:lightgray;
    text-decoration:underline;
    
}

ul.menulist li a:active{
    background-color:darkgray;
    text-decoration:underline;
}
ul.menulist a:visited{
    color:white;
}

/*---------------------*/

ul.admin-panel{
    font-family:Single;
    font-size:x-large;
    list-style-type:none;
    margin:15px 0 15px 0;
    padding:0
}

ul.admin-panel li a:link{
    text-align:center;
    color:black;
    margin:1px;
    float:left;
    text-decoration:none;
    list-style-type:none;
    background-color:#66FF66;
    display:block;
    width:100px;
    padding-top:3px;
    padding-bottom:3px;
}

ul.admin-panel li a:hover{
    background-color:#3D993D;
}

ul.admin-panel li a:visited{
    color:black;
}

table.list{
    font-family:Single;
    font-size:x-large;
    margin:15px 0 15px 0;
    border-collapse:collapse
}

table.list th{
    background-color:#99CCFF;
    font-weight:bolder;
    border:1px solid #808080;
    padding:5px;
}
table.list td{
    padding:5px;
    border:1px solid #808080;
}

img.delete-btt,img.edit-btt,img.view-btt,img.paratab{
    vertical-align:text-bottom;
}

/*----------------------------------*/
img.menu-btt{
    cursor:pointer;
    margin-left:5px;
}

div.menu-slider{
    font-family:Calibri;
    color:white;
    margin:0;
}
div.menu-slider li a:link{
    background-color:black;
    color:white;
    border-bottom:1px solid;
    border-color:white;
    text-decoration:none;
    display:block;
    height:30px;
}

div.menu-slider ul{
    margin:0;
    padding:0;
    list-style-type:none;
}


div.menu-slider li.last-menu a:link{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

div.menu-slider ul li a:hover{
    color:black;
    background-color:lightgray;
}

div.menu-slider li a:visited{
    color:white;
    background-color:black;
}

/*----------------------------------*/
div#content{
    margin-top:70px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:1px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

img.back-to-top-btt{
    width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:20px;
    right:20px;
    
}


footer{
   
    height:25px;
    color:white;
    font-family:Calibri;
    font-size:18px;
    text-align:center;
    padding-top:12.5px;
    padding-bottom:12.5px;
}

a.paratab:link{
    color:white;
    text-decoration:none;
}

a.paratab:visited{
    color:white;
}

a.operation-link:link{
    color:black
}

a.operation-link:visited{
    color:black
}

h1{
   padding-top:8px;
   font-family:supermarket
}

h2{
    font-family:Calibri; 
    text-decoration:underline;
}



p.real-paragraph,p.noti-msg,p.account-detail{
    text-indent:50px;
    text-align:left;
    font-family:Single;
    font-size:x-large
}

p.noti-msg{
text-indent:0;
font-weight:bolder;
color:red;
}
p.account-detail{
    text-indent:0
}

p.book-detail{
    font-family:Single;
    font-size:x-large;
    text-indent:0
}

p.post-time{
    margin:0;
    padding:0;
    text-align:right;
}

a.news-link:link,a.book-link:link{
    font-family:Single;
    color:black;
    font-size:x-large;
}

a.news-link:visited,a.book-link:visited{
    color:black
}

@font-face{
    font-family:Single;
    src:url(/Font/_DS-Single.ttf);
}

@font-face{
    font-family:Calibri;
    src:url(/Font/CALIBRI.TTF);
}
