@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>
<h2>Developer</h2>
<div class="contact-dev">
    <b>Surawit Sangjan : </b><a class="facebook-btt" href="http://www.facebook.com/dream.surawit" target="_blank">Facebook</a><br /><br />
    <b>Suratchanan Kraidech : </b><a class="facebook-btt" href="http://www.facebook.com/suratchanan" target="_blank">Facebook</a>
    </div>
