@{
    ViewBag.Title = "500 - Generic error";
}

<h1>Error - 500 Generic error</h1>
<div class="noti-red">
    500 - เกิดความผิดพลาดขึ้นในระหว่างการประมวลผลของเซิฟเวอร์ กรุณาลองใหม่ในภายหลัง
</div>

<script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
            alert(document.URL);
    });

</script>
