@{
    ViewBag.Title = "Home";
}
@model IEnumerable<ParatabLib.Models.News>
<h1>Welcome to online library book system</h1>
<p class="real-paragraph">ยินดีต้อนรับสู่ Web application อันน่าตื่นตาตื่นใจ คุณจะได้พบกับความสามารถของระบบห้องสมุดออนไลน์ที่สามารถช่วยจัดการปัญหาทุกอย่างที่เกิดขึ้นได้</p>
<h1>News</h1>
<table class="news-list">
    @foreach (var news in Model)
    {
        <tr>
            <td><b>@news.PostTime.ToShortDateString()</b></td>
            <td><a class="news-link" href="/News/View/@news.NewsID">@news.Title</a></td>
        </tr>
    }
    <tr>
        <td></td>
        <td class="right-col"><a class="norm" href="/News/ViewAll">ดูทั้งหมด</a></td>
    </tr>
</table>

