@{
    ViewBag.Title = "Librarian portal";
}

<h2>Librarian portal</h2>
<a class="account-btt" href="/LibrarianTransaction/">Lib transaction</a>
<a class="account-btt" href="/BookManager/">Manage book</a>
<a class="account-btt" href="/NewsManager/">Manage news</a>
<a class="account-btt" href="/LibrarianListManager/">Manage librarian</a>
<a class="account-btt" href="/MemberListManager/">Manage member</a>
<a class="account-btt" href="/Configuration/">Configuration</a>
<a class="account-btt" href="/Account/">Back</a>
