@{
    ViewBag.Title = "Detail";
}
@model TestLibrary.Models.News
<h1>@Html.DisplayFor(model => model.Title)</h1>
<div class="news-area">
    @Html.Raw(@Model.Detail)
    <p class="post-time"><b>ประกาศเมื่อ:</b>@Model.PostTime</p>
</div>

