@{
    ViewBag.Title = "Detail";
}
@model TestLibrary.Models.News
<h1>@Html.DisplayFor(model => model.Title)</h1>
@if (Session["LoginUser"] != null)
{
    if(Session["LoginUser"].ToString().Substring(0, 2) == "A_"){
    <a class="news-link" href="/NewsManager/EditNews/@Model.NewsID">แก้ไข</a><text>|</text>
    <a class="news-link" href="/NewsManager/DeleteNews/@Model.NewsID">ลบ</a>
}
}

<div class="news-area">
    @Html.Raw(@Model.Detail)
    <p class="post-time"><b>ประกาศเมื่อ:</b>@Model.PostTime</p>
</div>

