<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://paratabplus.cloudapp.net:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://paratabplus.cloudapp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>LibraryOnline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>PARATABPLUS\paratabadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibraryContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:g2j9zvfmf0.database.windows.net,1433;Initial Catalog=ParatabplusDB;User ID=paratabadmin@g2j9zvfmf0;Password=Dream1357" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TestLibrary.DataAccess.LibraryContext, TestLibrary" MigrationConfiguration="TestLibrary.Migrations.Configuration, TestLibrary" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LibraryContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:g2j9zvfmf0.database.windows.net,1433;Initial Catalog=ParatabplusDB;User ID=paratabadmin@g2j9zvfmf0;Password=Dream1357</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>