@model TestLibrary.Models.News
@{
    ViewBag.Title = "AddNews";
}

<script src="/Script/ckeditor/ckeditor.js" type="text/javascript"></script>
<h2>AddNews</h2>
<form class="news-form" action="/Manage/AddNews" method="post">
    @Html.AntiForgeryToken()
    <label>News Title</label><br />
    <input type="text" name="Title" value="@Html.DisplayFor(model =>model.Title)"/><br />
    <label>Detail</label><br />
    <textarea class="ckeditor" name="Detail">@Html.DisplayFor(model => model.Detail)</textarea>
    <input type="hidden" value="@DateTime.Now" name="PostTime" />
    <input type="submit" value="Add news"/>
</form>
