@model IEnumerable<TestLibrary.Models.Admin>
@{
    ViewBag.Title = "AdminList";
}

<h2>AdminList</h2>
<p class="noti-msg">@TempData["Notification"]</p>
<table class="list">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td><a href="#"><img class="edit-btt" src="/Content/edit-gray-btt.png" /></a></td>
            <td><a href="/Manage/Delete/@item.UserID"><img class="delete-btt" src="/Content/delete-gray-btt.png" /></a></td>
        </tr>
    }
</table>
<a class="account-btt" href="/Manage">Back</a>
