

@{
    ViewBag.Title = Session["LoginUser"];
}

<h1>Welcome! @Session["LoginUser"].ToString().Substring(2)</h1>
<h2>Admin panel</h2>
<ul class="admin-panel">
    <li><a href="/Manage/AddBook">Add book</a></li>
    <li><a href="/Manage/BookList">Book list</a></li>
    <li><a href="/Manage/EditBook">Edit book</a></li>
    <li><a href="/Manage/Borrow">Borrow</a></li>
    <li><a href="/Manage/Borrow">Return</a></li>
</ul><br />
<a class="account-btt" href="/Manage/Detail">View Detail</a>
<a class="account-btt" href="/Manage/AddAdmin">Add admin</a>
<a class="account-btt" href="/Manage/AdminList">Admin list</a>
<a class="account-btt" href="/Manage/ChangePassword">Change password</a>
<a class="account-btt" href="~/Manage/Logout">Sign out</a>
