@{
    ViewBag.Title = "Return transaction";
}

<h2>Return transaction</h2>
<form class="news-form" action="/Manage/Return" method="post">
    @Html.AntiForgeryToken()
    <label>BookID</label><br />
    <input type="text" placeholder="BookID" name="BookID"/><br />
    <label>Book name:</label>Book name will be add later.<br />
    <label>Borrower:</label>Borrower will add later.<br />
    <label>Due date:</label>Due date will add later.<br />
    <input type="submit" value="Submit" />
</form>
